.camContainer {
    background-color: rgb(52, 137, 255);
    display: flex;
    justify-content: center;
    justify-self: center;
    box-shadow: 15px 15px 15px 15px rgba(212, 212, 212, 0.123);

    border-radius:  0 0 40px 40px;
    height: 45%;
}

.webcam {

    height: 80%;
    width: 100%;

}