.questionPanel {

    background-color: #d7d7d7ee;
    box-shadow: 15px 100px 100px 100px rgba(153, 153, 153, 0.123);
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

.controls {
    height: 30%;
    overflow: hidden;
    border-top: #c3c3c3ee 2px solid;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}



.nextButton {

    vertical-align: middle;
    float: right;
    margin-left: 1em;
    background-color: rgb(44, 84, 51);
    /* Move the button to the right */
    vertical-align: middle;
    text-align: center;
    color: white;
    padding: 1%;
    font-size: 0.875em;
    border-radius: 20px;
    border: none;
}

.nextButton:disabled {
    color: rgb(164, 164, 164) !important;
}
.timer {
    float: right;
    margin: 0;
    color: #858585ee;
}

.questionCounter {

    font-size: 0.7em;
    line-height: 1.6;
    margin: 2em;
    color: #858585ee;
}

.speechButton {
    vertical-align: middle;
    float: right;
    margin-left: auto;
    /* Move the button to the right */

    vertical-align: middle;
    text-align: center;
    color: white;
    padding: 1%;
    font-size: 0.875em;
    border-radius: 20px;
    border: none;
}